MyBatisProject2/src/main/webapp/xml/sawon.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	<sawon>
		<list>
			<name></name>
			<dept></dept>
			<tel></tel>
		</list>
		<list>
			<name></name>
			<dept></dept>
			<phone></phone>
		</list>
	</swaon>
	&nbsp;
	<!ENTITY nbsp " ">
	=> &nbsp;
-->
<!ELEMENT sawon (list+)>
<!ELEMENT list (name, dept, (tel|phone))>
<!ELEMENT name (#PCDATA)>
<!ELEMENT dept (#PCDATA)>
<!ELEMENT tel (#PCDATA)>
<!ELEMENT phone (#PCDATA)>